:org.apache.felix.configadmin.revision:=L"2"
externalizer.contextpath=""
externalizer.domains=[ \
  "local\ http://localhost:4502", \
  "author\ https://staging.mediahub.bnpparibas", \
  "publish\ https://bnp-paribas-stg2.adobecqms.net", \
  "internal\ https://mediahub.staging.echonet", \
  ]
externalizer.encodedpath=B"false"
externalizer.host=""
service.pid="com.day.cq.commons.impl.ExternalizerImpl"
