:org.apache.felix.configadmin.revision:=L"2"
externalizer.contextpath=""
externalizer.domains=[ \
  "local\ http://localhost:4502", \
  "author\ https://author-bnp-paribas-stg2.adobecqms.net/", \
  "publish\ https://bnp-paribas-stg2.adobecqms.net/", \
  ]
externalizer.encodedpath=B"false"
externalizer.host=""
service.pid="com.day.cq.commons.impl.ExternalizerImpl"
