:org.apache.felix.configadmin.revision:=L"2"
externalizer.contextpath=""
externalizer.domains=[ \
  "local\ http://localhost:4502", \
  "author\ http://localhost:4502", \
  "publish\ http://localhost:4503", \
  "internal\ http://localhost:4503", \
  "external\ http://localhost:4503", \
  ]
externalizer.encodedpath=B"false"
externalizer.host=""
service.pid="com.day.cq.commons.impl.ExternalizerImpl"
