:org.apache.felix.configadmin.revision:=L"4"
constraint="(?\=.*\\d.*)(?\=.*[a-z].*)(?\=.*[A-Z].*)(?\=.*[`/\\^().:,;|$_@#%&\\*\\-+\=~!\\[\\]{}<>\\?].*).{8,16}"
enabledActions=[ \
  "org.apache.jackrabbit.oak.spi.security.user.action.AccessControlAction", \
  "org.apache.jackrabbit.oak.spi.security.user.action.PasswordValidationAction", \
  ]
groupPrivilegeNames=[ \
  "jcr:read", \
  ]
service.pid="org.apache.jackrabbit.oak.spi.security.user.action.DefaultAuthorizableActionProvider"
userPrivilegeNames=[ \
  "jcr:all", \
  ]
