# Configuration created by Apache Sling JCR Installer
userPrivilegeNames=["jcr:all"]
constraint="(?\=.*\\d.*)(?\=.*[a-z].*)(?\=.*[A-Z].*)(?\=.*[@#%\\*\\-+\=~\\[\\]{}<>\\?].*).{8,16}"
enabledActions=["org.apache.jackrabbit.oak.spi.security.user.action.AccessControlAction","org.apache.jackrabbit.oak.spi.security.user.action.PasswordValidationAction"]
groupPrivilegeNames=["jcr:read"]
