:org.apache.felix.configadmin.revision:=L"3"
queue.keepJobs=B"true"
queue.maxparallel=D"4621819117588971520"
queue.name="DM\ Publish\ queue"
queue.preferRunOnCreationInstance=B"false"
queue.priority="NORM"
queue.retries=I"2"
queue.retrydelay=L"60000"
queue.threadPoolSize=I"0"
queue.topics=[ \
  "dam/scene7/asset/activation", \
  ]
queue.type="UNORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~dm-publish"
service.ranking=I"0"
