:org.apache.felix.configadmin.revision:=L"2"
externalizer.contextpath=""
externalizer.domains=[ \
  "local\ http://localhost:4502", \
  "author\ https://dev.mediahub.bnpparibas", \
  "publish\ https://bnp-paribas-dev2.adobecqms.net", \
  "internal\ https://mediahub.dev.echonet", \
  "external\ https://broadcast-dev.mediahub.bnpparibas", \
  ]
externalizer.encodedpath=B"false"
externalizer.host=""
service.pid="com.day.cq.commons.impl.ExternalizerImpl"
